/* Root Variables */
:root {
    /* Color Variables */
    --primary: #48FEC6;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}

.card-container {
    cursor: pointer;
    transition: transform 1.5s;
    transform-style: preserve-3d;
    position: relative;
}

.card-container.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
}

.card-face p {
    color: var(--light);
    font-size: 30px;
}

.card-face-reverse {
    height: 450px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    border-radius: 20px;
    backface-visibility: hidden;
    overflow: hidden;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
    transform: rotateY(180deg);
    /* position: absolute; */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, var(--primary), var(--secondary));
    height: 205px;
    width: 300px;
    /* top-left | top-right | bottom-right | bottom-left  */
    border-radius: 20px 20px 150px 0px;
}

.header p {
    font-size: 24px;
    color: var(--light);
}

.value-portion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

.value-portion p:nth-child(1) {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}
.value-portion p:nth-child(2) {
    text-align: center;
}

.profile-photo {
    height: 45%;
    width: auto;
    border: 5px solid var(--light);
    border-radius: 100px;
    margin-bottom: 10px;
}